@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Print Styles for Invoice */
@media print {
  body * {
    visibility: hidden;
  }
  
  .print\:block,
  .print\:block * {
    visibility: visible;
  }
  
  .print\:block {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  .print\:hidden {
    display: none !important;
  }
  
  @page {
    size: 80mm auto;
    margin: 5mm;
  }
}
